body {
    background: url(https://goo.gl/5rN3sz) no-repeat fixed;
    background-size: auto 100vh;
    background-color: #333;
}

#title {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 5em;
    color: white;
    margin-bottom: 400px;
    text-align:center;
}
#fontLight {
    font-weight: 100;
}
#fontMedium {
    font-weight: 500;
}

h1 {
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin-bottom: 10px;
}

h2, h3 {
    text-align: center;
}

#logo {
    text-align: center;
    margin-top: -3%
}
#placeholder {
    position: fixed;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    filter: alpha(opacity=60);
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100%;
    font-family: "Open Sans";
    text-align: center;
    height: 60%;
    overflow: auto;
}
#onama {
    position: fixed;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    filter: alpha(opacity=60);
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    font-family: "Open Sans";
    text-align: center;
    height: 60%;
    overflow: auto;
}
#enduro {
    position: fixed;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    filter: alpha(opacity=60);
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100%;
    font-family: "Open Sans";
    text-align: center;
    height: 60%;
    overflow: auto;
}
#humanitarno {
    position: fixed;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    filter: alpha(opacity=60);
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100%;
    font-family: "Open Sans";
    text-align: center;
    height: 60%;
    overflow: auto;
}
#trails {
    position: fixed;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    filter: alpha(opacity=60);
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100%;
    font-family: "Open Sans";
    text-align: center;
    height: 60%;
    overflow: auto;
}
#contact {
    position: fixed;
    background: rgba(51, 51, 51, 0.8);
    color: white;
    filter: alpha(opacity=60);
    padding: 3%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 100%;
    font-family: "Open Sans";
    text-align: center;
    height: 63%;
    width: 60%;
    overflow: auto;
}
table {
    border:none;
    border-collapse: collapse;
    text-align: left;
    width: 120%;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#centered {
    position: fixed;
    margin-bottom: 20%;
    margin-left: 48%;
}

.fb{
    position: relative;
}
.fb img {
    display: block;
}

.fb2 {
    position: absolute;
    top: 0.15px;
    left: -37px;
    display:none;
}

#F {
    position: relative;
    width: 20px;
    left: -100px;
}

#F:hover > .fb2 {
    display:block;
}

.inst {
    position: relative;
}
.inst img {
    display: block;
}
.inst2 {
    position: absolute;
    top: -2px;
    left: -38px;
    display:none;
}
#I {
    position: relative;
    width: 20px;
    top: -43px;
}
#I:hover > .inst2 {
    display:block
}

.mail1 {
    position: relative;
}

.mail1 img {
    display: block;
}
.mail2 {
    position: absolute;
    top: -24px;
    left: 3px;
    display:none;
}
#at {
    position: relative;
    width: 20px;
    margin-top: -83px;
    left: 110px;
}

#at:hover > .mail2{
    display:block
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding-left: 19.5%;
    overflow: hidden;
    background-color: #333;
}

li {
    margin-left: 30px;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Open Sans"
}

li a:hover {
    background-color: #111;
}

.container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%
}
