<template>
    <div id="onama" class="onamaparagraf paragraf">
        <img id="logo" src="https://i.imgur.com/qdofrvO.png" width=80px>
        <h3>O nama</h3>
        <p>
            Ekstremni biciklizam u Osijeku vuče svoje korjene još iz prošloga stoljeća, ali tek početkom 2000-ih godina nekolicina entuzijasta se počela skupljati u grupnim vožnjama kroz grad te na lijevoj obali Drave gdje su počeli nastajati prve staze i jumpovi. Vozilo se svašta, od maminog kruzera, kojekakvih MTB-a čija je prednja suspenzija od 100mm hoda odrađivala jedva 20mm, pa sve do čeličnih BMX-a koji su težili skoro 20kg.
            <br>
            <br>
            Dečki su godinama shredali gradom, preskakivali stepenice i šlogirali bakice na pločniku, a kako su počeli pohoditi i natjecanja, 2003. godine su se prozvali Weekend Warriorsima. Godine su prolazile, a kako su dečki uskoro i sami počeli organizirati natjecanja u sklopu Pannonian Challengea, vrijeme je bilo da klub postane i formalan te se u sobama državnog ureda 31.7.2007. rodio službeni Biciklistički Klub Weekend Warriors.
            <br>
            <br>
            Kroz više od 10 godina djelovanja, klub je organizirao dual-fight i four cross utrke na Pannonian Challengeu i Enduro Jamove u Gaziju. Članovi kluba su vozili na natjecanjima diljem Hrvatske, pa i u susjednim zemljama te širili dobar glas o svom gradu Osijeku i stazama koje su izgradili na obližnjoj Krndiji.
            <br>
            <br>
            Biciklistički Klub Weekend Warriors već više od desetljeća promovira čuvanje prirode, humanitarni rad, zdrav život, sport i druženje, a najviše biciklizam i njegove ekstremne discipline. Kroz sve godine svog postojanja, klub je ulagao mnogo napora u izgradnju brojnih biciklističkih staza. Na lijevoj obali Drave je izgrađena 4x staza te dvije dirt linije. U Gaziju je nastala enduro staza u samo nekoliko mjeseci, a u Orahovici smo izgradili 3 enduro/downhill staze, a još se puno novih planira.
            <br>
            <br>
            Klub je tijekom godina izmijenio mnogo članova, neki su prestali voziti, neki su se odselili, ali svi se povremeno vrate kako bi se provozali sa preostalima. Trenutnu upravu kluba čine Andrej Flauder (predsjednik), Mario Andrew Benc (dopredsjednik) i Ivo Anić (tajnik).
        </p>
        <img src="https://goo.gl/cLh9oR" width="100%">
    </div>
</template>
<script>
    export default {

        name: 'about',

        /**
         * Component data
         */
        data: function () {
            return {};
        },

        /**
         * Component is not yet created, Vue has just been instantiated.
         */
        beforeCreate: function () {
        },

        /**
         * Component is created, template is not yet compiled.
         */
        created: function () {
        },

        /**
         * Component is in before mount state, template is compiled.
         */
        beforeMounted: function () {
        },

        /**
         * Component is mounted and element is created.
         */
        mounted: function () {
        },

        /**
         * Component methods
         */
        methods: {},

        /**
         * Component computed properties
         */
        computed: {},

        /**
         * Injecting imported components
         */
        components: {}
    }
</script>
