<template>
    <div id="contact" class="kontaktparagraf paragraf">
        <img id="logo" src="https://i.imgur.com/qdofrvO.png" width=80px>
        <h3>Kontakt</h3>
        <table>
            <tr>
                <td>BK Weekend Warriors<br>
                    Prominska 7, 31000 Osijek<br>
                    OIB: 77739060735</td>
                <td>PREDSJEDNIK: Andrej Flauder<br>
                    DOPREDSJEDNIK: Mario A. Benc<br>
                    TAJNIK: Ivo Anić</td>
                <td>TELEFON: +385 91 190 7094<br>
                    +385 98 666 936<br>
                    +385 98 9105 725<br>
                    E-MAIL: hello@weekendwarriors.bike</td>
            </tr>

        </table>

    </div>
</template>
<script>
    export default {

        name: 'component-namme',

        /**
         * Component data
         */
        data: function () {
            return {};
        },

        /**
         * Component is not yet created, Vue has just been instantiated.
         */
        beforeCreate: function () {
        },

        /**
         * Component is created, template is not yet compiled.
         */
        created: function () {
        },

        /**
         * Component is in before mount state, template is compiled.
         */
        beforeMounted: function () {
        },

        /**
         * Component is mounted and element is created.
         */
        mounted: function () {
        },

        /**
         * Component methods
         */
        methods: {},

        /**
         * Component computed properties
         */
        computed: {},

        /**
         * Injecting imported components
         */
        components: {}
    }
</script>
