<template>
    <div id="enduro" class="enduroparagraf paragraf">
        <img id="logo" src="https://i.imgur.com/qdofrvO.png" width=80px>
        <h3>Enduro Jam</h3>
        <p>
            Biciklistički Klub Weekend Warriors u suradnji sa Savjetom Mladih Osječko-baranjske županije već dvije godine za redom održava Enduro Jam u Gaziju. Događaj se održava sredinom jeseni kako bi se uz opušteno i nenatjecateljsko druženje zatvorila biciklistička sezona. Vozači sami biraju jednu od nekoliko staza koje će voziti, omogućeno je vraćanje uz stazu i ponavljanje sekcija, a na kraju uz grah se izmjenjuju iskustva i broje ozlijede i eventuelne štete na biciklima. Prijevoz kombijima je osiguran do vrha staze, a noćenje je moguće u planinskoj kući Tivanovo u Gaziju.
        </p>
        <img src="https://goo.gl/ZZL4RF" width="100%">
    </div>
</template>
<script>
    export default {

        name: 'enduro',

        /**
         * Component data
         */
        data: function () {
            return {};
        },

        /**
         * Component is not yet created, Vue has just been instantiated.
         */
        beforeCreate: function () {
        },

        /**
         * Component is created, template is not yet compiled.
         */
        created: function () {
        },

        /**
         * Component is in before mount state, template is compiled.
         */
        beforeMounted: function () {
        },

        /**
         * Component is mounted and element is created.
         */
        mounted: function () {
        },

        /**
         * Component methods
         */
        methods: {},

        /**
         * Component computed properties
         */
        computed: {},

        /**
         * Injecting imported components
         */
        components: {}
    }
</script>
