<template>
    <div id="humanitarno" class="humanitarnoparagraf paragraf">
        <img id="logo" src="https://i.imgur.com/qdofrvO.png" width=80px> <br>
        <h3>Humanitarni rad</h3>
        <p>
            Da ne mislimo samo na sebe i na zabavu pokazuje i naš humanitarni angažman. Već četiri godine za redom članovi kluba pomažu dječjem selu Ladimirevci u održavanju bicikala za njihove najmlađe štičenike. Djece ima mnogo, a svatko ima svoj bicikl koji se tijekom godine pokvari ili se probuši guma. Nažalost, djeca i radnici u dječjem selu nemaju potrebnu opremu niti djelove kako bi nadomjestili štetu. Stoga BK Weekend Warriors, u suradnji sa ostalim biciklističkim klubovima iz okolice, dolazi u pomoć kako bi djeci omogućio daljnje uživanje u vožnjama i razvijanje ljubavi prema biciklima.
        </p>
        <img src="https://goo.gl/8wFCHg" width="100%">
    </div>
</template>
<script>
    export default {

        name: 'humanitarian',

        /**
         * Component data
         */
        data: function () {
            return {};
        },

        /**
         * Component is not yet created, Vue has just been instantiated.
         */
        beforeCreate: function () {
        },

        /**
         * Component is created, template is not yet compiled.
         */
        created: function () {
        },

        /**
         * Component is in before mount state, template is compiled.
         */
        beforeMounted: function () {
        },

        /**
         * Component is mounted and element is created.
         */
        mounted: function () {
        },

        /**
         * Component methods
         */
        methods: {},

        /**
         * Component computed properties
         */
        computed: {},

        /**
         * Injecting imported components
         */
        components: {}
    }
</script>
