<template>
    <div id="trails" class="paragraf">
        <img id="logo" src="https://i.imgur.com/qdofrvO.png" width=80px> <br>
        <h3>Pravljenje staza</h3>
        <p>
            Već više od desetljeća članovi kluba Weekend Warriors uređuju staze u Orahovici i Gaziju. Brojeći sve napravljene rukavce, Krndija sada broji oko 4 downhill/enduro staze. Sječa stabala prije nekoliko godina je uvelike unazadila naš progres, ali zato se trudimo obnoviti staze i dodavati elemente svakog vikenda kada vrijeme to omogući. Naše staze kroz godinu postaju sve zabavnije, imaju sve više elemenata, a svake godine im se povećava i broj. Vozači koji nam dođu u posjet ostanu oduševljeni njihovim dizajnom te nam se vjerno vračaju.
        </p>
        <img src="https://goo.gl/GUwWP9" width="100%">
    </div>
</template>
<script>
    export default {

        name: 'trails',

        /**
         * Component data
         */
        data: function () {
            return {};
        },

        /**
         * Component is not yet created, Vue has just been instantiated.
         */
        beforeCreate: function () {
        },

        /**
         * Component is created, template is not yet compiled.
         */
        created: function () {
        },

        /**
         * Component is in before mount state, template is compiled.
         */
        beforeMounted: function () {
        },

        /**
         * Component is mounted and element is created.
         */
        mounted: function () {
        },

        /**
         * Component methods
         */
        methods: {},

        /**
         * Component computed properties
         */
        computed: {},

        /**
         * Injecting imported components
         */
        components: {}
    }
</script>
