<template>
    <vue-transition-group name="slide">
        <div class="container transform intro" :class="{'intro-active': $route.name}">
            <h1 id="title"><span id="fontLight">bk</span><span id="fontMedium">weekendwarriors</span></h1>
        </div>

        <div id="centered" class="container social" :class="{'intro-active': $route.name}">
            <div id="F">
                <div class="fb">
                    <img src="https://i.imgur.com/wCCS67Z.png" width=40>
                </div>
                <div class="fb2">
                    <a href="https://www.facebook.com/vikendratnici/"><img src="https://i.imgur.com/oKJenIT.png" width=88></a>
                </div>
            </div>

            <div id="I">
                <div class="inst">
                    <img src="https://i.imgur.com/W0vSeQP.png" width=40>
                </div>
                <div class="inst2">
                    <a href="https://www.instagram.com/bkweekendwarriors/"><img src="https://i.imgur.com/dBRzdoT.png" width=80></a>
                </div>
            </div>

            <div id="at">
                <div class="mail1">
                    <img src="https://i.imgur.com/BlFxD8t.png" width=40>
                </div>
                <div class="mail2">
                    <a href="mailto:hello@weekendwarriors.bike?Subject=Hello%20world"><img src="https://i.imgur.com/lmhmbWm.png" width=100></a>
                </div>
            </div>
        </div>

        <div class="container transform" :class="{'social-active': $route.name}">
            <navigation></navigation>

            <router-view></router-view>
        </div>
    </vue-transition-group>
</template>

<style>
    .transform-active {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        bottom: 67%;
    }

    .social-active {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        bottom: 44%;
    }

    .intro-active {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        bottom: 30%;
    }
</style>

<script>
    import Navigation from './components/ui/Navigation';

    export default {

        name: 'app',

        /**
         * Component data
         */
        data: function () {
            return {
                open: null
            };
        },

        /**
         * Component is not yet created, Vue has just been instantiated.
         */
        beforeCreate: function () {
        },

        /**
         * Component is created, template is not yet compiled.
         */
        created: function () {
        },

        /**
         * Component is in before mount state, template is compiled.
         */
        beforeMounted: function () {
        },

        /**
         * Component is mounted and element is created.
         */
        mounted: function () {
        },

        /**
         * Component methods
         */
        methods: {},

        /**
         * Component computed properties
         */
        computed: {},

        /**
         * Injecting imported components
         */
        components: {
            Navigation
        }
    }
</script>
