<template>
    <ul id="navigation">
        <li id="about-button" class="tab tablink"><router-link :to="{name: 'About'}" tag="a">O nama</router-link></li>
        <li id="enduro-button" class="tab tablink"><router-link :to="{name: 'Enduro'}" tag="a">Enduro Jam</router-link></li>
        <li id="humanitarian-button" class="tab tablink"><router-link :to="{name: 'Humanitarian'}" tag="a">Humanitarni rad</router-link></li>
        <li id="trail-build-button" class="tab tablink"><router-link :to="{name: 'Trails'}" tag="a">Pravljenje staza</router-link></li>
        <li id="contact-button" class="tab tablink"><router-link :to="{name: 'Contact'}" tag="a">Kontakt</router-link></li>
    </ul>
</template>
<script>
    export default {

        name: 'navigation',

        /**
         * Component data
         */
        data: function () {
            return {};
        },

        /**
         * Component is not yet created, Vue has just been instantiated.
         */
        beforeCreate: function () {
        },

        /**
         * Component is created, template is not yet compiled.
         */
        created: function () {
        },

        /**
         * Component is in before mount state, template is compiled.
         */
        beforeMounted: function () {
        },

        /**
         * Component is mounted and element is created.
         */
        mounted: function () {
        },

        /**
         * Component methods
         */
        methods: {},

        /**
         * Component computed properties
         */
        computed: {},

        /**
         * Injecting imported components
         */
        components: {}
    }
</script>
